*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}


.container{
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content{
  text-align: center;
}

.content h1{
  font-size: 55px;
  color: #ffffff;
  margin-bottom: 50px;

}

.content a{
  font-size: 23px;
  color: #ffffff;
  text-decoration: none;
  border: 2px solid #3bedd3;
  padding: 15px 25px;
  border-radius: 50px;
  transition: 0.3s;
}

.content a:hover{
  background-color: #11caa2;
  color: #000;
}


#topLinks ul,
#footer ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
}
#topLinks li {
        float: left;
}
#topLinks li a {
        color: #ffffff;
        text-align: center;
        padding: 16px;
        text-decoration: none;
        -webkit-transition: all 250ms ease-out;
        -ms-transition: all 250ms ease-out;
        transition: all 250ms ease-out;
}
            #topLinks li a:hover {
                color: #32ff9c;
                -webkit-transition: all 250ms ease-out;
                -ms-transition: all 250ms ease-out;
                transition: all 250ms ease-out;
                text-decoration: underline;
            }
#topMenu .logo {
    float: left;
    padding-top: 13px;
    font-size: 24px;
    color: #333;
    text-decoration: none;
}

    #topMenu .logo:hover {
        color: #4392F1;
    }

.logo {
    font-family: "Anton", cursive;
}
.background-clip {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	object-fit: cover;
	pointer-events: none;
}
}

@media (min-aspect-ratio:16/9) {
  .background-clip{
      width: 100%;
      height: auto;
  }
}

@media (max-aspect-ratio:16/9) {
  .background-clip{
      width: auto;
      height: 100%;
  }
}
.item {
  width: 300px;
  height: auto;
  margin-bottom: 20px;
}

/* CSS for tablets */
@media (max-width: 768px) {
  .item {
    width: 250px;
  }
}

/* CSS for mobile devices */
@media (max-width: 480px) {
  .item {
    width: 200px;
  }
}
